[project]
name = "pulsarity"
version = "0.1.0-dev"
description = "A demonstrator project for a RotorHazard variant"
authors = [
    { name = "Bryce Gruber", email = "dev@brycegruber.com"}
]
readme = "README.md"
license = "LGPL-3.0-only"
requires-python = ">=3.14,<4.0"
classifiers = [
    "Development Status :: 1 - Planning",
    "Operating System :: POSIX :: Linux",
    "Framework :: AsyncIO",
    "Programming Language :: Python :: 3.14"
]

dependencies = [
    "starlette==0.52.1",
    "starsessions==2.2.1",
    "aiosqlite==0.22.1",
    "hypercorn==0.18.0",
    "uvloop==0.22.1 ; sys_platform == \"linux\" or sys_platform == \"darwin\"",
    "winloop==0.4.1 ; sys_platform == \"win32\"",
    "cryptography==46.0.5",
    "argon2-cffi==25.1.0",
    "tortoise-orm==0.25.3",
    "pydantic==2.12.5",
    "cffi==2.0.0",
    "anyio==4.12.1",
    "sortedcollections==2.1.0",
    "protobuf==6.33.5",
]

[project.urls]
repository = "https://github.com/i-am-grub/pulsarity"

[project.optional-dependencies]
pgsql = [ "asyncpg==0.31" ]

[project.scripts]
pulsarity = "pulsarity.__main__:main"

[build-system]
requires = ["uv_build==0.10.2"]
build-backend = "uv_build"

[dependency-groups]
dev = [
    "httpx==0.28.1",
    "httpx-ws==0.8.2",
    "mypy==1.19.1",
    "pylint==4.0.4",
    "pytest==9.0.2",
    "pytest-asyncio==1.3.0",
    "pytest-cov==7.0.0",
    "pytest-randomly==4.0.1",
    "tox==4.34.1",
]
docs = [
    "myst-parser==5.0.0",
    "sphinx==9.1.0",
    "sphinx-book-theme==1.1.4",
    "sphinx-copybutton==0.5.2",
    "sphinx-substitution-extensions==2026.1.12",
]

[tool.mypy]
exclude = ["tests", "src/pulsarity/_protobuf"]

[tool.pylint]
ignore = ["tests", "src/pulsarity/_protobuf"]
ignored-modules = ["pulsarity._protobuf.*", "google.protobuf.*"]

[tool.ruff.lint]
exclude = [".mypy_cache", "env", "src/pulsarity/_protobuf"]

[tool.pytest.ini_options]
addopts = "--no-cov-on-fail --showlocals --strict-markers"
asyncio_default_fixture_loop_scope = "function"
asyncio_mode = "auto"
testpaths = ["tests"]

[tool.tox]
requires = ["tox>=4", "tox-uv>=1.26"]
env_list = ["3.14", "3.14t"]

[tool.tox.env_run_base]
runner = "uv-venv-lock-runner"
description = "run unit tests"
dependency_groups = ["dev"]
commands = [["pytest", {cov="src",  replace = "posargs", default = ["tests"], extend = true }]]
